// Fonts
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap')

// Mixins
@mixin tablet
    @media screen and (min-width: 481px) and (max-width: 820px)
        @content
@mixin mobile
    @media screen and (min-width: 320px) and (max-width: 480px)
        @content

@mixin inriaSerif()
    font-family: "Inria Serif", serif
@mixin SourceSerif4()
    font-family: "Source Serif 4", serif
@mixin backgroundCover()
    background-position: center
    background-repeat: no-repeat
    background-size: cover

html
    scroll-behavior: smooth

body
    font-family: "Source Sans 3", sans-serif

h1, h2, h3, h4, h5, h6, p
    line-height: normal
    margin: 0

a
    text-decoration: none

// Utils
.container
    width: 100%
    max-width: 1132px
    margin: 0 auto
    box-sizing: border-box

// Sections
.navbar-main
    display: flex
    align-items: center
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 60px
    background: rgba(0, 0, 0, 0.25)
    z-index: 9998
    @include mobile
        background-color: #772439
    .container
        display: flex
        justify-content: center
        @include mobile
            padding: 0 20px
        .navbar-main-mobile-grid
            display: none
            justify-content: space-between
            align-items: center
            width: 100%
            @include mobile
                display: flex
            .navbar-main-mobile-logo
                width: auto
                height: 26px
            .navbar-main-mobile-burger
                width: 30px
                cursor: pointer
                .navbar-main-mobile-burger-line
                    width: 100%
                    height: 2px
                    background-color: #fff
                    margin-bottom: 5px
        .navbar-main-menu
            list-style: none
            padding: 0
            margin: 0
            @include mobile
                display: none
            .navbar-main-menu-item
                display: inline-block
                margin-right: 60px
                &:hover 
                    .navbar-main-submenu
                        opacity: 1
                        visibility: visible
                @include mobile
                    margin-right: 20px
                a
                    font-size: 20px
                    font-weight: 500
                    color: #fff
                    @include mobile
                        font-size: 16px
                .navbar-main-submenu
                    opacity: 0
                    visibility: hidden
                    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out
                    position: absolute
                    background-color: #772439
                    list-style: none
                    padding: 10px 20px
                    margin: 0
                    .navbar-main-submenu-item
                        margin-bottom: 12px
                        a
                            font-size: 18px
                            font-weight: 500

.mobile-menu
    opacity: 0
    visibility: hidden
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out
    position: fixed
    width: 100%
    height: 100%
    top: 0
    background-color: #772439
    z-index: 9999
    .mobile-menu-header
        display: flex
        justify-content: space-between
        padding: 20px
        margin-bottom: 20px
        border-bottom: 1px solid rgba(255, 255, 255, 0.2)
        .mobile-menu-close
            cursor: pointer
    #mobile-menu-items
        list-style: none
        margin: 0
        padding: 20px 0
        .mobile-menu-item
            margin: 0 0 15px 0
            border-bottom: 1px solid #FFFFFF
            padding-left: 20px
            a
                font-size: 18px
                font-weight: 500
                color: #ffff
        .mobile-menu-subitem
            margin: 0 0 15px 0
            padding-left: 20px
            a
                font-size: 18px
                font-weight: 500
                color: #ffff
        .mobile-menu-divider
            width: 70%
            height: 2px
            background-color: #fff
            margin: 0 auto 10px auto

.hero-main
    background: url('../assets/hero-main-bg.jpg')
    background-position: top center
    background-repeat: no-repeat
    background-size: cover
    min-height: 810px
    @include mobile
        background-position: center
        background-size: cover
        min-height: 310px
    .container
        max-width: 1440px
        .hero-main-logo
            padding-top: 210px
            padding-left: 200px
            @include mobile
                display: none
        .hero-main-title
            padding-top: 320px
            text-align: center
            @include mobile
                display: none
            h1
                @include SourceSerif4()
                font-size: 22px
                font-weight: 600
                color: #772439
                text-transform: uppercase
        .hero-main-grid
            display: none
            padding: 120px 30px 0 30px
            @include mobile
                display: grid
                grid-template-columns: 1fr 1fr
            .hero-main-grid-title
                h1
                    @include SourceSerif4()
                    font-size: 10px
                    font-weight: 500
                    text-transform: uppercase
                    color: #FFFFFF

.about
    position: relative
    background-color: #EBF0FF
    .about-intro
        display: flex
        align-items: center
        background-color: #fff
        height: 250px
        p
            @include inriaSerif()
            font-size: 24px
            font-weight: 400
            color: #772439
            text-transform: uppercase
            text-align: center
            max-width: 686px
            margin: 0 auto
            @include mobile
                font-size: 12px
                max-width: 210px
    .about-desc
        background-color: #EBF0FF
        display: flex
        align-items: center
        @include mobile
            display: block
        .about-desc-image
            margin-right: 10px
            img
                display: block
            @include mobile
                margin-right: 0
                img
                    width: 240px
                    height: auto
        .about-desc-text
            @include mobile
                display: flex
                justify-content: center
                padding: 40px 0
            p
                @include SourceSerif4()
                font-size: 16px
                font-weight: 400
                color: #000000
                max-width: 328px
                @include mobile
                    font-size: 12px
                    max-width: 246px
    .about-image
        position: absolute
        right: 220px
        bottom: 0
        @include mobile
            display: block
            position: relative
            width: 270px
            height: auto
            right: 0
            margin: 0 auto

.about    
    .about-grid  
        justify-content: space-between
        .about-left-image
            display: flex
            align-items: flex-end
            @include mobile
                img
                    width: 240px
                    height: auto
        .about-text
            display: flex
            align-items: center
            @include mobile
                padding: 60px 0 20px 0
            p
                font-size: 16px
                max-width: 508px
                @include mobile
                    font-size: 12px
                    max-width: 246px
                    margin: 0 auto
        .about-right-image
            display: flex
            align-items: flex-end
            @include mobile
                img
                    width: 100%
                    height: auto

.books-banner
    background: url('../assets/books-bg.jpg')
    @include backgroundCover()
    height: 200px
    @include mobile
        background: url('../assets/books-bg-mobile.jpg')
        height: 250px

.details
    .details-grid
        display: grid
        grid-template-columns: 1fr 1fr
        @include mobile
            grid-template-columns: 1fr
        .details-left
            display: flex
            justify-content: right
            align-items: center
            min-height: 300px
            background-color: #FFFFFF
            color: #772439
            @include mobile
                flex-direction: column
                justify-content: center
                align-items: flex-start
                min-height: 250px
                padding: 0 35px
            h2
                @include inriaSerif()
                font-size: 24px
                font-weight: 400
                margin-right: 50px
                @include mobile
                    margin-right: 0
                    margin-bottom: 10px
            p
                @include SourceSerif4()
                font-size: 16px
                max-width: 330px
                margin-right: 50px
                @include mobile
                    font-size: 12px
                    margin-right: 0
        .details-right
            position: relative
            display: flex
            justify-content: left
            align-items: center
            min-height: 300px
            background-color: #772439
            color: #FFFFFF
            overflow-x: hidden
            @include mobile
                flex-direction: column
                justify-content: center
                align-items: flex-start
                min-height: 250px
                padding: 0 35px
            h2
                @include inriaSerif()
                font-size: 24px
                font-weight: 400
                margin-left: 50px
                @include mobile
                    margin-left: 0
                    margin-bottom: 10px
            p
                @include SourceSerif4()
                font-size: 16px
                max-width: 330px
                margin-left: 50px
                @include mobile
                    font-size: 12px
                    margin-left: 0
            img
                position: absolute
                bottom: 0
                right: 0
                width: 284px
                height: auto
                @include mobile
                    width: 170px
                    height: auto
                    margin-right: -30px

.features-banner
    display: flex
    justify-content: center
    align-items: center
    background: url('../assets/features-banner-bg.jpg')
    background-size: cover
    height: 150px
    @include mobile
        height: 120px
    p
        @include SourceSerif4()
        font-size: 16px
        font-weight: 400
        color: #000000
        text-align: center
        max-width: 364px
        @include mobile
            font-size: 12px
            max-width: 236px
    
.features
    .features-grid
        display: grid
        grid-template-columns: repeat(4, 1fr)
        @include mobile
            grid-template-columns: 1fr
        > div
            display: flex
            justify-content: center
            align-items: center
            height: 250px
            .feature-title
                @include inriaSerif()
                font-size: 24px
                color: #FFFFFF
        .feature-01
            background: linear-gradient(to left, rgba(rgb(30, 30, 30), 0.5), rgba(rgb(30, 30, 30), 0.5)), url('../assets/feature-01.png')
            @include backgroundCover()
        .feature-02
            background: linear-gradient(to left, rgba(rgb(30, 30, 30), 0.5), rgba(rgb(30, 30, 30), 0.5)),url('../assets/feature-02.png')
            @include backgroundCover()
        .feature-03
            background: linear-gradient(to left, rgba(rgb(30, 30, 30), 0.5), rgba(rgb(30, 30, 30), 0.5)), url('../assets/feature-03.png')
            @include backgroundCover()
        .feature-04
            background: linear-gradient(to left, rgba(rgb(30, 30, 30), 0.5), rgba(rgb(30, 30, 30), 0.5)), url('../assets/feature-04.png')
            @include backgroundCover()
        .feature-05
            background: linear-gradient(to left, rgba(rgb(30, 30, 30), 0.5), rgba(rgb(30, 30, 30), 0.5)), url('../assets/feature-05.png')
            @include backgroundCover()

.clients-banner
    background: url('../assets/clients-bg.jpg')
    @include backgroundCover()
    height: 120px
    @include mobile
        height: 100px

.biography
    position: relative
    .biography-title
        display: grid
        grid-template-columns: 1fr 1fr
        .biography-title-left
            display: flex
            justify-content: right
            align-items: flex-end
            .biography-title-image
                display: none
                @include mobile
                    display: block
        .biography-title-right
            padding: 160px 0 40px 0
            h2
                @include inriaSerif()
                font-size: 24px
                font-weight: 400
                color: #772439
                @include mobile
                    font-size: 14px
                    max-width: 130px
            h3
                @include inriaSerif()
                font-size: 20px
                font-weight: 400
                color: #31343A
                @include mobile
                    font-size: 11px
                    max-width: 140px
    .biography-desc
        display: grid
        grid-template-columns: 1fr 1fr
        background: url('../assets/biography-bg.jpg')
        background-size: cover
        @include mobile
            display: block
        .biography-desc-right
            padding: 60px 0
            @include mobile
                padding: 60px 37px
            p
                @include SourceSerif4()
                font-size: 16px
                font-weight: 400
                color: #FFFFFF
                max-width: 510px
                @include mobile
                    font-size: 12px
    .biography-image
        position: absolute
        bottom: 0
        left: 23%
        @include mobile
            display: none

.biography-banner
    display: flex
    justify-content: center
    align-items: center
    background: url('../assets/biography-banner-bg.jpg')
    @include backgroundCover()
    height: 200px
    @include mobile
        height: 150px
    p
        @include SourceSerif4()
        font-size: 16px
        font-weight: 400
        color: #772439
        max-width: 506px
        @include mobile
            font-size: 12px
            max-width: 246px

.contact
    position: relative
    display: flex
    align-items: center
    background-color: #FFFFFF
    height: 300px
    @include mobile
        display: block
        height: auto
        background-color: #EBF0FF
    .contact-grid
        display: grid
        grid-template-columns: 1fr 1fr
        width: 100%
        background-color: #FFFFFF
        @include mobile
            display: block
            padding: 20px 0
        .contact-grid-left
            display: flex
            justify-content: right
            @include mobile
                display: block
            .contact-grid-left-container
                width: 507px
                margin-right: 50px
                @include mobile
                    width: 246px
                    margin-right: 0
                    margin: 0 auto
                .contact-grid-left-title
                    @include SourceSerif4()
                    font-size: 16px
                    font-weight: 400
                    color: #585857
                    max-width: 326px
                    margin: 0 auto
                    margin-bottom: 30px
                    @include mobile
                        font-size: 12px
                        margin-bottom: 10px
                .contact-grid-left-addresses
                    display: flex
                    justify-content: space-between
                    @include mobile
                        display: block
                    .contact-grid-left-address
                        text-align: center
                        @include mobile
                            margin-bottom: 10px
                        img
                            margin-bottom: 10px
                            @include mobile
                                width: 30px
                                height: 30px
                        p
                            @include SourceSerif4()
                            font-size: 14px
                            font-weight: 400
                            color: #772439
                            text-align: left
                            @include mobile
                                font-size: 12px
                                text-align: center
    .contact-image
        position: absolute
        display: block
        bottom: 0
        right: 0
        @include mobile
            position: relative
            width: 100%
            height: auto
            margin-top: 20px

.contact-map
    @include mobile
        iframe
            height: 200px

.blocks
    display: grid
    grid-template-columns: repeat(3, 1fr)
    @include mobile
        display: block
    .blocks-block
        height: 350px
        @include mobile
            height: 230px
    .blocks-block-1
        background: url('../assets/blocks-block-1.jpg')
        @include backgroundCover()
    .blocks-block-2
        background: url('../assets/blocks-block-2.jpg')
        @include backgroundCover()
    .blocks-block-3
        background: url('../assets/blocks-block-3.jpg')
        @include backgroundCover()

.scope
    .scope-grid
        display: grid
        grid-template-columns: repeat(3, 1fr)
        @include mobile
            grid-template-columns: 1fr
        .scope-left-image
            display: flex
            align-items: flex-start
            @include mobile
                img
                    width: 240px
                    height: auto
        .scope-info
            display: flex
            justify-content: left
            align-items: center
            @include mobile
                display: block
                padding: 30px 60px
            h2
                @include inriaSerif()
                font-size: 24px
                font-weight: 400
                color: #772439
                @include mobile
                    margin-bottom: 10px
            .scope-info-wrapper
                font-size: 16px
                p
                    margin: 0 0 10px 0
                ul
                    margin: 0
                    li
                        margin: 0 0 5px 0
        .scope-right-image
            display: flex
            align-items: flex-start
            @include mobile
                background: url('../assets/scope-right-mobile.png')
                background-repeat: no-repeat
                background-size: 100% auto
                background-position: center
                height: 326px
                img
                    width: 100%
                    height: auto
                    @include mobile
                        display: none

.footer-main
    .footer-main-banner
        height: 480px
        background: url('../assets/footer-bg.jpg')
        @include backgroundCover()
        @include mobile
            height: 250px
    .footer-main-logo
        display: flex
        justify-content: center
        align-items: center
        height: 200px
        background-color: #772439
        @include mobile
            height: 44px
            img
                width: 30px
                height: 30px

.lawyer-hero
    .lawyer-hero-grid
        display: grid
        grid-template-columns: 55% 45%
        margin-top: 100px
        min-height: 350px
        @include mobile
            grid-template-columns: 1fr
            margin-top: 60px
        .lawyer-hero-left
            position: relative
            padding: 40px 0 0 260px
            @include mobile
                background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 80%, rgba(0, 0, 0, 0.08))
                min-height: 160px
                padding: 40px 0 0 150px
            #lawyer-image
                position: absolute
                bottom: 0
                left: 0
                width: 280px
                height: auto
                @include mobile
                    height: 100%
                    width: auto
            #lawyer-name
                @include inriaSerif()
                font-size: 36px
                font-weight: 400
                color: #772439
                max-width: 331px
                line-height: normal
                margin: 0 0 5px 0
                @include mobile
                    font-size: 15px
                    max-width: 130px
            #lawyer-email
                font-size: 16px
                margin: 0
                @include mobile
                    font-size: 10px
        .lawyer-hero-right
            padding: 20px 0 0 0
            @include mobile
                padding: 40px
            h2
                @include inriaSerif()
                font-size: 32px
                font-weight: 400
                color: #772439
                line-height: normal
                margin: 0 0 15px 0
                @include mobile
                    font-size: 20px
            #lawyer-academic-list
                margin: 0
                padding: 0 0 0 25px
                li
                    font-size: 16px
                    margin-bottom: 6px
                    @include mobile
                        font-size: 12px

.lawyer-experience
    padding: 50px 0
    background: url('../assets/lawyer-professional-experience-bg.jpg')
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    .lawyer-experience-wrapper
        max-width: 679px
        margin: 0 auto
        @include mobile
            max-width: 244px
        h2
            @include inriaSerif()
            font-size: 32px
            font-weight: 400
            color: #772439
            line-height: normal
            margin: 0 0 15px 0
            @include mobile
                font-size: 20px
        #lawyer-experience-list
            margin: 0
            padding: 0 0 0 25px
            li
                font-size: 16px
                margin-bottom: 6px
                @include mobile
                    font-size: 12px

.lawyer-languages
    padding: 40px 0
    background: url('../assets/lawyer-languages-bg.jpg')
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    background-attachment: fixed
    .lawyer-languages-grid
        display: flex
        justify-content: left
        align-content: center
        max-width: 679px
        margin: 0 auto
        @include mobile
            display: block
            max-width: 244px
        h2
            @include inriaSerif()
            font-size: 32px
            font-weight: 400
            color: #FFF
            line-height: normal
            width: 170px
            margin: 0
            @include mobile
                font-size: 20px
                margin-bottom: 10px
        #lawyer-languages-list
            margin: 0
            padding: 0 0 0 20px
            li
                font-size: 16px
                color: #FFF
                margin-bottom: 6px

.laywer-additional
    padding: 60px 0
    background: url('../assets/laywer-additional-studies-bg.jpg')
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    .laywer-additional-wrapper
        max-width: 679px
        margin: 0 auto
        @include mobile
            max-width: 244px
        h2
            @include inriaSerif()
            font-size: 32px
            font-weight: 400
            color: #FFF
            line-height: normal
            margin: 0 0 15px 0
            @include mobile
                font-size: 20px
        #laywer-additional-list
            margin: 0
            padding: 0 0 0 25px
            @include mobile
                padding: 0 0 0 20px
            li
                font-size: 16px
                margin-bottom: 6px
                color: #FFF
                @include mobile
                    font-size: 12px

.admin-hero
    .admin-hero-grid
        display: grid
        grid-template-columns: 1fr 1fr
        min-height: 350px
        margin-top: 60px
        @include mobile
            grid-template-columns: 1fr
            margin-top: 60px
        .admin-hero-left
            display: flex
            align-items: flex-end
            @include mobile
                padding: 20px 20px 0 20px
                img
                    width: 100%
                    height: auto
        .admin-hero-right
            padding: 40px 0 0 40px
            @include mobile
                padding: 40px
            h2
                @include inriaSerif()
                font-size: 32px
                font-weight: 400
                color: #772439
                line-height: normal
                margin: 0 0 15px 0
                @include mobile
                    font-size: 20px
            ul
                margin: 0
                padding: 0 0 0 50px
                li
                    font-size: 16px
                    margin-bottom: 6px
                    @include mobile
                        font-size: 12px

.admin-functions
    padding: 50px 0
    background: url('../assets/admin-functions-bg.jpg')
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    .admin-functions-wrapper
        max-width: 679px
        margin: 0 auto
        @include mobile
            max-width: 244px
        h2
            @include inriaSerif()
            font-size: 32px
            font-weight: 400
            color: #772439
            line-height: normal
            margin: 0 0 15px 0
            @include mobile
                font-size: 20px
        ul
            margin: 0
            padding: 0 0 0 25px
            li
                font-size: 16px
                margin-bottom: 6px
                @include mobile
                    font-size: 12px

.admin-languages
    background: url('../assets/admin-languages-bg.jpg')
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    background-attachment: fixed
    height: 140px

.admin-additional-studies
    padding: 60px 0
    background: url('../assets/admin-additional-studies-bg.jpg')
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    .admin-additional-studies-wrapper
        max-width: 679px
        margin: 0 auto
        @include mobile
            max-width: 244px
        h2
            @include inriaSerif()
            font-size: 32px
            font-weight: 400
            color: #FFF
            line-height: normal
            margin: 0 0 15px 0
            @include mobile
                font-size: 20px
        ul
            margin: 0
            padding: 0 0 0 25px
            @include mobile
                padding: 0 0 0 20px
            li
                font-size: 16px
                margin-bottom: 6px
                color: #FFF
                @include mobile
                    font-size: 12px

.direction-hero
    position: relative
    .direction-hero-title
        display: grid
        grid-template-columns: 1fr 1fr
        @include mobile
            grid-template-columns: auto 1fr
            padding-top: 70px
        .direction-hero-title-left
            display: flex
            align-items: flex-end
            .direction-hero-image-mobile
                display: none
                @include mobile
                    display: block
        .direction-hero-title-right
            padding: 180px 0 60px 0
            @include mobile
                padding: 10px 0 0 0
            h1
                @include inriaSerif()
                font-size: 36px
                font-weight: 400
                color: #772439
                max-width: 331px
                @include mobile
                    font-size: 15px
                    max-width: 127px
            h2
                @include SourceSerif4()
                font-size: 20px
                font-weight: 400
                color: #31343A
                text-transform: uppercase
                @include mobile
                    font-size: 8px
            p
                @include SourceSerif4()
                font-size: 16px
                font-weight: 400
                color: #000000
                @include mobile
                    font-size: 7px
    .direction-hero-desc
        display: grid
        grid-template-columns: 1fr 1fr
        background: url('../assets/direction-hero-bg-1.jpg')
        @include backgroundCover()
        @include mobile
            display: block
        .direction-hero-desc-right
            padding: 70px 0
            @include mobile
                padding: 30px 0
            ul
                margin: 0
                padding: 0
                padding-left: 20px
                @include mobile
                    list-style: none
                    width: fit-content
                    margin: 0 auto
                    padding-left: 0
                li
                    @include SourceSerif4()
                    font-size: 16px
                    font-weight: 400
                    color: #000000
                    max-width: 508px
                    @include mobile
                        font-size: 12px
                        max-width: 244px
    .direction-hero-image
        position: absolute
        display: block
        left: 15%
        bottom: 0
        @include mobile
            display: none

.direction-banner
    height: 130px
    background: url('../assets/direction-banner-bg.jpg')
    @include backgroundCover()
    @include mobile
        height: 40px

.direction-academic
    position: relative
    .direction-academic-title
        height: 280px
        @include mobile
            display: none
    .direction-academic-desc
        display: grid
        grid-template-columns: 1fr 1fr
        background: url('../assets/direction-academic-bg.jpg')
        @include backgroundCover()
        min-height: 280px
        @include mobile
            display: block
        .direction-academic-desc-left
            display: flex
            justify-content: right
            align-items: center
            @include mobile
                display: block
                padding: 20px 0 0 10px
            h2
                @include inriaSerif()
                font-size: 32px
                font-weight: 400
                color: #772439
                max-width: 176px
                @include mobile
                    font-size: 20px
                    max-width: 256px
                    margin: 0 auto
        .direction-academic-desc-right
            display: flex
            justify-content: left
            align-items: center
            @include mobile
                padding-bottom: 330px
            ul
                li
                    @include SourceSerif4()
                    font-size: 16px
                    font-weight: 400
                    color: #000000
                    max-width: 503px
                    @include mobile
                        font-size: 12px
                        max-width: 244px
    .direction-academic-image
        position: absolute
        display: block
        bottom: 0
        left: 15%
        @include mobile
            width: 194px
            height: auto

.profile-languages
    display: flex
    justify-content: center
    align-items: center
    height: 120px
    background: url('../assets/profile-languages-bg.jpg')
    @include backgroundCover()
    @include mobile
        height: 180px
    .profile-languages-content
        display: grid
        grid-template-columns: auto 1fr
        width: 673px
        @include mobile
            display: block
            width: 244px
        .profile-languages-content-left,
        .profile-languages-content-right
            display: flex
            align-items: center
        .profile-languages-content-left
            h2
                @include inriaSerif()
                font-size: 32px
                font-weight: 400
                color: #FFFFFF
                @include mobile
                    font-size: 20px
        .profile-languages-content-right
            ul
                @include mobile
                    padding-left: 25px
                li
                    @include SourceSerif4()
                    font-size: 16px
                    font-weight: 400
                    color: #FFFFFF
                    @include mobile
                        font-size: 16px

.profile-studies
    background: url('../assets/profile-studies-bg.jpg')
    @include backgroundCover()
    padding: 60px 0 20px 0
    .profile-studies-content
        width: 679px
        margin: 0 auto
        @include mobile
            width: 244px
        h2
            @include inriaSerif()
            font-size: 32px
            font-weight: 400
            color: #FFFFFF
            margin: 0 0 20px 0
            @include mobile
                font-size: 20px
                margin: 0 0 10px 0
        ul
            padding-left: 20px
            li
                @include SourceSerif4()
                font-size: 16px
                font-weight: 400
                color: #FFFFFF
                @include mobile
                    font-size: 12px

.direction-footer
    display: flex
    justify-content: center
    background: url('../assets/footer-bg.jpg')
    @include backgroundCover()
    padding-top: 40px
    @include mobile
        padding-top: 20px
    .direction-footer-content
        display: grid
        grid-template-columns: 1fr 1fr
        width: 735px
        @include mobile
            display: block
            width: 192px
        .direction-footer-content-left
            display: flex
            justify-content: center
            align-items: center
            @include mobile
                margin-bottom: 20px
            h2
                @include inriaSerif()
                font-size: 36px
                font-weight: 400
                color: #FFFFFF
                @include mobile
                    font-size: 20px
        .direction-footer-content-right
            display: flex
            justify-content: center
            align-items: flex-end
            img
                display: block
                @include mobile
                    width: 151px
                    height: auto

