@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
body {
  font-family: "Source Sans 3", sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  line-height: normal;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1132px;
  margin: 0 auto;
  box-sizing: border-box;
}

.navbar-main {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: rgba(0, 0, 0, 0.25);
}
.navbar-main .container {
  display: flex;
  justify-content: right;
}
.navbar-main .container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.navbar-main .container ul li {
  display: inline-block;
  margin-right: 60px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .navbar-main .container ul li {
    margin-right: 20px;
  }
}
.navbar-main .container ul li a {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .navbar-main .container ul li a {
    font-size: 16px;
  }
}

.hero-main {
  background: url("../assets/hero-main-bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain 100%;
  min-height: 810px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .hero-main {
    min-height: 600px;
  }
}
.hero-main .container {
  max-width: 1440px;
  padding: 0 100px 0 200px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .hero-main .container {
    padding: 0 20px;
  }
}
.hero-main .hero-main-grid {
  display: grid;
  grid-template-columns: 40% 60%;
  padding-top: 200px;
  box-sizing: border-box;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .hero-main .hero-main-grid {
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .hero-main .hero-main-grid {
    padding-top: 160px;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .hero-main .hero-main-grid .hero-main-logo {
    text-align: center;
  }
  .hero-main .hero-main-grid .hero-main-logo img {
    width: 200px;
    height: auto;
  }
}
.hero-main .hero-main-grid .hero-main-title {
  display: flex;
  align-items: center;
}
.hero-main .hero-main-grid .hero-main-title h1 {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .hero-main .hero-main-grid .hero-main-title h1 {
    font-size: 18px;
    text-align: center;
  }
}

.about-banner {
  background-color: #fff;
  padding: 80px 0;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .about-banner {
    padding: 60px 20px;
  }
}
.about-banner p {
  font-family: "Inria Serif", serif;
  font-size: 24px;
  font-weight: 400;
  color: #772439;
  max-width: 686px;
  margin: 0 auto;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .about-banner p {
    font-size: 18px;
  }
}

.about {
  background-color: #F1F1F2;
}
.about .about-grid {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .about .about-grid {
    display: block;
  }
}
.about .about-grid .about-left-image {
  display: flex;
  align-items: flex-end;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .about .about-grid .about-left-image img {
    width: 100%;
    height: auto;
  }
}
.about .about-grid .about-text {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .about .about-grid .about-text {
    padding: 40px 20px;
  }
}
.about .about-grid .about-text p {
  font-size: 16px;
  max-width: 508px;
}
.about .about-grid .about-right-image {
  display: flex;
  align-items: flex-end;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .about .about-grid .about-right-image img {
    width: 100%;
    height: auto;
  }
}

.books-banner {
  background: url("../assets/books-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}

.details .details-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .details .details-grid {
    grid-template-columns: 1fr;
  }
}
.details .details-grid .details-left {
  display: flex;
  justify-content: right;
  align-items: center;
  min-height: 300px;
  background-color: #FFFFFF;
  color: #772439;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .details .details-grid .details-left {
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
  }
}
.details .details-grid .details-left h2 {
  font-family: "Inria Serif", serif;
  font-size: 24px;
  font-weight: 400;
  margin-right: 50px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .details .details-grid .details-left h2 {
    margin-right: 0;
    margin-bottom: 30px;
  }
}
.details .details-grid .details-left p {
  font-size: 16px;
  max-width: 330px;
  margin-right: 50px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .details .details-grid .details-left p {
    margin-right: 0;
  }
}
.details .details-grid .details-right {
  position: relative;
  display: flex;
  justify-content: left;
  align-items: center;
  min-height: 300px;
  background-color: #772439;
  color: #FFFFFF;
  overflow-x: hidden;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .details .details-grid .details-right {
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
  }
}
.details .details-grid .details-right h2 {
  font-family: "Inria Serif", serif;
  font-size: 24px;
  font-weight: 400;
  margin-left: 50px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .details .details-grid .details-right h2 {
    margin-left: 0;
    margin-bottom: 30px;
  }
}
.details .details-grid .details-right p {
  font-size: 16px;
  max-width: 330px;
  margin-left: 50px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .details .details-grid .details-right p {
    margin-left: 0;
  }
}
.details .details-grid .details-right img {
  position: absolute;
  bottom: 0;
  left: 400px;
}

.features .features-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .features .features-grid {
    grid-template-columns: 1fr;
  }
}
.features .features-grid > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
}
.features .features-grid > div .feature-title {
  font-family: "Inria Serif", serif;
  font-size: 24px;
  color: #FFFFFF;
}
.features .features-grid .feature-01 {
  background: url("../assets/feature-01.png"), linear-gradient(to left, rgba(30, 30, 30, 0.99), rgba(30, 30, 30, 0.99));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.features .features-grid .feature-02 {
  background: url("../assets/feature-02.png"), linear-gradient(to left, rgba(30, 30, 30, 0.99), rgba(30, 30, 30, 0.99));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.features .features-grid .feature-03 {
  background: url("../assets/feature-03.png"), linear-gradient(to left, rgba(30, 30, 30, 0.99), rgba(30, 30, 30, 0.99));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.features .features-grid .feature-04 {
  background: url("../assets/feature-04.png"), linear-gradient(to left, rgba(30, 30, 30, 0.99), rgba(30, 30, 30, 0.99));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.features .features-grid .feature-05 {
  background: url("../assets/feature-05.png"), linear-gradient(to left, rgba(30, 30, 30, 0.99), rgba(30, 30, 30, 0.99));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.clients {
  background: url("../assets/clients-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
  padding: 40px 0;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .clients {
    padding: 40px 20px;
  }
}
.clients .clients-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .clients .clients-grid {
    grid-template-columns: 1fr;
  }
}
.clients .clients-grid .clients-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .clients .clients-grid .clients-title {
    margin-bottom: 30px;
  }
}
.clients .clients-grid .clients-title h2 {
  font-family: "Inria Serif", serif;
  font-size: 24px;
  font-weight: 400;
}
.clients .clients-grid .clients-list {
  font-size: 16px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .clients .clients-grid .clients-list {
    margin-bottom: 30px;
  }
}
.clients .clients-grid .clients-list p {
  margin: 0 0 10px 0;
}
.clients .clients-grid .clients-list ul {
  margin: 0;
}
.clients .clients-grid .clients-list ul li {
  margin: 0 0 5px 0;
}
.clients .clients-grid .clients-finances {
  display: flex;
  justify-content: center;
  font-size: 16px;
  align-items: center;
}
.clients .clients-grid .clients-finances p {
  text-align: center;
  max-width: 236px;
}

.contact .contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .contact .contact-grid {
    grid-template-columns: 1fr;
  }
}
.contact .contact-grid .contact-info {
  display: flex;
  justify-content: right;
  align-items: center;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .contact .contact-grid .contact-info {
    padding: 40px 20px;
  }
}
.contact .contact-grid .contact-info .contact-info-wrapper {
  max-width: 370px;
  font-size: 16px;
  margin-right: 100px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .contact .contact-grid .contact-info .contact-info-wrapper {
    margin-right: 0;
  }
}
.contact .contact-grid .contact-info .contact-info-wrapper .contact-info-highlight {
  font-weight: bold;
  color: #772439;
}
.contact .contact-grid .contact-info .contact-info-wrapper img {
  display: block;
  margin: 0 auto;
  padding: 10px 0 15px 0;
}
.contact .contact-grid .contact-map iframe {
  display: block;
  width: 100%;
  height: 380px;
}

.scope .scope-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .scope .scope-grid {
    grid-template-columns: 1fr;
  }
}
.scope .scope-grid .scope-left-image {
  display: flex;
  align-items: flex-start;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .scope .scope-grid .scope-left-image img {
    width: 100%;
    height: auto;
  }
}
.scope .scope-grid .scope-info {
  display: flex;
  justify-content: left;
  align-items: center;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .scope .scope-grid .scope-info {
    display: block;
    padding: 40px 20px;
  }
}
.scope .scope-grid .scope-info h2 {
  font-family: "Inria Serif", serif;
  font-size: 24px;
  font-weight: 400;
  color: #772439;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .scope .scope-grid .scope-info h2 {
    margin-bottom: 30px;
  }
}
.scope .scope-grid .scope-info .scope-info-wrapper {
  font-size: 16px;
}
.scope .scope-grid .scope-info .scope-info-wrapper p {
  margin: 0 0 10px 0;
}
.scope .scope-grid .scope-info .scope-info-wrapper ul {
  margin: 0;
}
.scope .scope-grid .scope-info .scope-info-wrapper ul li {
  margin: 0 0 5px 0;
}
.scope .scope-grid .scope-right-image {
  display: flex;
  align-items: flex-start;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .scope .scope-grid .scope-right-image img {
    width: 100%;
    height: auto;
  }
}

.footer-main {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../assets/footer-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 481px;
}/*# sourceMappingURL=style.css.map */