@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Source Sans 3", sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  line-height: normal;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1132px;
  margin: 0 auto;
  box-sizing: border-box;
}

.navbar-main {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .navbar-main {
    background-color: #772439;
  }
}
.navbar-main .container {
  display: flex;
  justify-content: right;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .navbar-main .container {
    padding: 0 20px;
  }
}
.navbar-main .container .navbar-main-mobile-grid {
  display: none;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .navbar-main .container .navbar-main-mobile-grid {
    display: flex;
  }
}
.navbar-main .container .navbar-main-mobile-grid .navbar-main-mobile-burger {
  width: 30px;
  cursor: pointer;
}
.navbar-main .container .navbar-main-mobile-grid .navbar-main-mobile-burger .navbar-main-mobile-burger-line {
  width: 100%;
  height: 2px;
  background-color: #fff;
  margin-bottom: 5px;
}
.navbar-main .container .navbar-main-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .navbar-main .container .navbar-main-menu {
    display: none;
  }
}
.navbar-main .container .navbar-main-menu .navbar-main-menu-item {
  display: inline-block;
  margin-right: 60px;
}
.navbar-main .container .navbar-main-menu .navbar-main-menu-item:hover .navbar-main-submenu {
  opacity: 1;
  visibility: visible;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .navbar-main .container .navbar-main-menu .navbar-main-menu-item {
    margin-right: 20px;
  }
}
.navbar-main .container .navbar-main-menu .navbar-main-menu-item a {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .navbar-main .container .navbar-main-menu .navbar-main-menu-item a {
    font-size: 16px;
  }
}
.navbar-main .container .navbar-main-menu .navbar-main-menu-item .navbar-main-submenu {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  position: absolute;
  background-color: #772439;
  list-style: none;
  padding: 10px 20px;
  margin: 0;
}
.navbar-main .container .navbar-main-menu .navbar-main-menu-item .navbar-main-submenu .navbar-main-submenu-item {
  margin-bottom: 12px;
}
.navbar-main .container .navbar-main-menu .navbar-main-menu-item .navbar-main-submenu .navbar-main-submenu-item a {
  font-size: 18px;
  font-weight: 500;
}

.mobile-menu {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #772439;
  z-index: 9999;
}
.mobile-menu .mobile-menu-header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.mobile-menu .mobile-menu-header .mobile-menu-close {
  cursor: pointer;
}
.mobile-menu .mobile-menu-items {
  list-style: none;
  margin: 0;
  padding: 20px;
}
.mobile-menu .mobile-menu-items .mobile-menu-item,
.mobile-menu .mobile-menu-items .mobile-menu-item > a {
  font-size: 22px;
  font-weight: 500;
  margin: 0 0 10px 0;
  color: white;
}
.mobile-menu .mobile-menu-items .mobile-menu-subitem {
  margin: 0 0 15px 0;
}
.mobile-menu .mobile-menu-items .mobile-menu-subitem a {
  font-size: 18px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
}

.hero-main {
  background: url("../assets/hero-main-bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain 100%;
  min-height: 810px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .hero-main {
    background-position: center;
    background-size: cover;
    min-height: 350px;
  }
}
.hero-main .container {
  max-width: 1440px;
  padding: 0 100px 0 200px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .hero-main .container {
    padding: 0 30px;
  }
}
.hero-main .hero-main-grid {
  display: grid;
  grid-template-columns: 40% 60%;
  padding-top: 200px;
  box-sizing: border-box;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .hero-main .hero-main-grid {
    grid-template-columns: 1fr 1fr;
    padding-top: 130px;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .hero-main .hero-main-grid .hero-main-logo img {
    width: 56px;
    height: auto;
  }
}
.hero-main .hero-main-grid .hero-main-title {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .hero-main .hero-main-grid .hero-main-title {
    display: none;
  }
}
.hero-main .hero-main-grid .hero-main-title h1 {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
}
.hero-main .hero-main-grid .hero-main-title-mobile {
  display: none;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .hero-main .hero-main-grid .hero-main-title-mobile {
    display: block;
  }
}
.hero-main .hero-main-grid .hero-main-title-mobile h1 {
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  max-width: 100px;
}

.about-banner {
  background-color: #fff;
  padding: 80px 0;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .about-banner {
    padding: 80px 20px;
  }
}
.about-banner p {
  font-family: "Inria Serif", serif;
  font-size: 24px;
  font-weight: 400;
  color: #772439;
  max-width: 686px;
  margin: 0 auto;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .about-banner p {
    font-size: 12px;
    max-width: 210px;
  }
}

.about {
  background-color: #F1F1F2;
}
.about .about-grid {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .about .about-grid {
    display: block;
  }
}
.about .about-grid .about-left-image {
  display: flex;
  align-items: flex-end;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .about .about-grid .about-left-image img {
    width: 240px;
    height: auto;
  }
}
.about .about-grid .about-text {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .about .about-grid .about-text {
    padding: 60px 0 20px 0;
  }
}
.about .about-grid .about-text p {
  font-size: 16px;
  max-width: 508px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .about .about-grid .about-text p {
    font-size: 12px;
    max-width: 246px;
    margin: 0 auto;
  }
}
.about .about-grid .about-right-image {
  display: flex;
  align-items: flex-end;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .about .about-grid .about-right-image img {
    width: 100%;
    height: auto;
  }
}

.books-banner {
  background: url("../assets/books-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .books-banner {
    background: url("../assets/books-bg-mobile.jpg");
    height: 250px;
  }
}

.details .details-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .details .details-grid {
    grid-template-columns: 1fr;
  }
}
.details .details-grid .details-left {
  display: flex;
  justify-content: right;
  align-items: center;
  min-height: 300px;
  background-color: #FFFFFF;
  color: #772439;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .details .details-grid .details-left {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-height: 250px;
    padding: 0 60px;
  }
}
.details .details-grid .details-left h2 {
  font-family: "Inria Serif", serif;
  font-size: 24px;
  font-weight: 400;
  margin-right: 50px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .details .details-grid .details-left h2 {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
.details .details-grid .details-left p {
  font-size: 16px;
  max-width: 330px;
  margin-right: 50px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .details .details-grid .details-left p {
    font-size: 12px;
    margin-right: 0;
  }
}
.details .details-grid .details-right {
  position: relative;
  display: flex;
  justify-content: left;
  align-items: center;
  min-height: 300px;
  background-color: #772439;
  color: #FFFFFF;
  overflow-x: hidden;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .details .details-grid .details-right {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-height: 250px;
    padding: 0 60px;
  }
}
.details .details-grid .details-right h2 {
  font-family: "Inria Serif", serif;
  font-size: 24px;
  font-weight: 400;
  margin-left: 50px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .details .details-grid .details-right h2 {
    margin-left: 0;
    margin-bottom: 10px;
  }
}
.details .details-grid .details-right p {
  font-size: 16px;
  max-width: 330px;
  margin-left: 50px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .details .details-grid .details-right p {
    font-size: 12px;
    margin-left: 0;
  }
}
.details .details-grid .details-right img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 170px;
  height: auto;
}

.features .features-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .features .features-grid {
    grid-template-columns: 1fr;
  }
}
.features .features-grid > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
}
.features .features-grid > div .feature-title {
  font-family: "Inria Serif", serif;
  font-size: 24px;
  color: #FFFFFF;
}
.features .features-grid .feature-01 {
  background: linear-gradient(to left, rgba(30, 30, 30, 0.5), rgba(30, 30, 30, 0.5)), url("../assets/feature-01.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.features .features-grid .feature-02 {
  background: linear-gradient(to left, rgba(30, 30, 30, 0.5), rgba(30, 30, 30, 0.5)), url("../assets/feature-02.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.features .features-grid .feature-03 {
  background: linear-gradient(to left, rgba(30, 30, 30, 0.5), rgba(30, 30, 30, 0.5)), url("../assets/feature-03.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.features .features-grid .feature-04 {
  background: linear-gradient(to left, rgba(30, 30, 30, 0.5), rgba(30, 30, 30, 0.5)), url("../assets/feature-04.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.features .features-grid .feature-05 {
  background: linear-gradient(to left, rgba(30, 30, 30, 0.5), rgba(30, 30, 30, 0.5)), url("../assets/feature-05.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.clients {
  background: url("../assets/clients-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #FFFFFF;
  padding: 40px 0;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .clients {
    padding: 60px 40px;
  }
}
.clients .clients-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .clients .clients-grid {
    grid-template-columns: 1fr;
  }
}
.clients .clients-grid .clients-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .clients .clients-grid .clients-title {
    justify-content: left;
    margin-bottom: 20px;
  }
}
.clients .clients-grid .clients-title h2 {
  font-family: "Inria Serif", serif;
  font-size: 24px;
  font-weight: 400;
}
.clients .clients-grid .clients-list {
  font-size: 16px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .clients .clients-grid .clients-list {
    margin-bottom: 30px;
  }
}
.clients .clients-grid .clients-list p {
  margin: 0 0 10px 0;
}
.clients .clients-grid .clients-list ul {
  margin: 0;
}
.clients .clients-grid .clients-list ul li {
  margin: 0 0 5px 0;
}
.clients .clients-grid .clients-finances {
  display: flex;
  justify-content: center;
  font-size: 16px;
  align-items: center;
}
.clients .clients-grid .clients-finances p {
  text-align: center;
  max-width: 236px;
}

.contact .contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .contact .contact-grid {
    grid-template-columns: 1fr;
  }
}
.contact .contact-grid .contact-info {
  display: flex;
  justify-content: right;
  align-items: center;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .contact .contact-grid .contact-info {
    padding: 60px 0;
  }
}
.contact .contact-grid .contact-info .contact-info-wrapper {
  max-width: 370px;
  font-size: 16px;
  margin-right: 100px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .contact .contact-grid .contact-info .contact-info-wrapper {
    max-width: 244px;
    margin-right: 0;
    margin: 0 auto;
  }
}
.contact .contact-grid .contact-info .contact-info-wrapper .contact-info-highlight {
  font-weight: bold;
  color: #772439;
}
.contact .contact-grid .contact-info .contact-info-wrapper img {
  display: block;
  margin: 0 auto;
  padding: 10px 0 15px 0;
}
.contact .contact-grid .contact-map iframe {
  display: block;
  width: 100%;
  height: 380px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .contact .contact-grid .contact-map iframe {
    height: 230px;
  }
}

.scope .scope-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .scope .scope-grid {
    grid-template-columns: 1fr;
  }
}
.scope .scope-grid .scope-left-image {
  display: flex;
  align-items: flex-start;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .scope .scope-grid .scope-left-image img {
    width: 240px;
    height: auto;
  }
}
.scope .scope-grid .scope-info {
  display: flex;
  justify-content: left;
  align-items: center;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .scope .scope-grid .scope-info {
    display: block;
    padding: 30px 60px;
  }
}
.scope .scope-grid .scope-info h2 {
  font-family: "Inria Serif", serif;
  font-size: 24px;
  font-weight: 400;
  color: #772439;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .scope .scope-grid .scope-info h2 {
    margin-bottom: 10px;
  }
}
.scope .scope-grid .scope-info .scope-info-wrapper {
  font-size: 16px;
}
.scope .scope-grid .scope-info .scope-info-wrapper p {
  margin: 0 0 10px 0;
}
.scope .scope-grid .scope-info .scope-info-wrapper ul {
  margin: 0;
}
.scope .scope-grid .scope-info .scope-info-wrapper ul li {
  margin: 0 0 5px 0;
}
.scope .scope-grid .scope-right-image {
  display: flex;
  align-items: flex-start;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .scope .scope-grid .scope-right-image {
    background: url("../assets/scope-right-mobile.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    height: 326px;
  }
  .scope .scope-grid .scope-right-image img {
    width: 100%;
    height: auto;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) and (min-width: 320px) and (max-width: 480px) {
  .scope .scope-grid .scope-right-image img {
    display: none;
  }
}

.footer-main {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../assets/footer-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 481px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .footer-main {
    height: 250px;
  }
}

.lawyer-hero .lawyer-hero-grid {
  display: grid;
  grid-template-columns: 55% 45%;
  margin-top: 100px;
  min-height: 350px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .lawyer-hero .lawyer-hero-grid {
    grid-template-columns: 1fr;
    margin-top: 60px;
  }
}
.lawyer-hero .lawyer-hero-grid .lawyer-hero-left {
  background: url("../assets/lawyers/maria-rocha.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom left;
  padding: 40px 0 0 220px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .lawyer-hero .lawyer-hero-grid .lawyer-hero-left {
    min-height: 160px;
    padding: 40px 0 0 150px;
  }
}
.lawyer-hero .lawyer-hero-grid .lawyer-hero-left #lawyer-hero-name {
  font-family: "Inria Serif", serif;
  font-size: 36px;
  font-weight: 400;
  color: #772439;
  line-height: normal;
  margin: 0 0 5px 0;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .lawyer-hero .lawyer-hero-grid .lawyer-hero-left #lawyer-hero-name {
    font-size: 15px;
    max-width: 130px;
  }
}
.lawyer-hero .lawyer-hero-grid .lawyer-hero-left #lawyer-hero-email {
  font-size: 16px;
  margin: 0;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .lawyer-hero .lawyer-hero-grid .lawyer-hero-left #lawyer-hero-email {
    font-size: 10px;
  }
}
.lawyer-hero .lawyer-hero-grid .lawyer-hero-right {
  padding: 20px 0 0 0;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .lawyer-hero .lawyer-hero-grid .lawyer-hero-right {
    padding: 40px;
  }
}
.lawyer-hero .lawyer-hero-grid .lawyer-hero-right h2 {
  font-family: "Inria Serif", serif;
  font-size: 32px;
  font-weight: 400;
  color: #772439;
  line-height: normal;
  margin: 0 0 15px 0;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .lawyer-hero .lawyer-hero-grid .lawyer-hero-right h2 {
    font-size: 20px;
  }
}
.lawyer-hero .lawyer-hero-grid .lawyer-hero-right #lawyer-hero-academic {
  margin: 0;
  padding: 0 0 0 25px;
}
.lawyer-hero .lawyer-hero-grid .lawyer-hero-right #lawyer-hero-academic li {
  font-size: 16px;
  margin-bottom: 6px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .lawyer-hero .lawyer-hero-grid .lawyer-hero-right #lawyer-hero-academic li {
    font-size: 12px;
  }
}

.lawyer-professional-experience {
  padding: 50px 0;
  background: url("../assets/lawyer-professional-experience-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.lawyer-professional-experience .lawyer-professional-experience-wrapper {
  max-width: 679px;
  margin: 0 auto;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .lawyer-professional-experience .lawyer-professional-experience-wrapper {
    max-width: 244px;
  }
}
.lawyer-professional-experience .lawyer-professional-experience-wrapper h2 {
  font-family: "Inria Serif", serif;
  font-size: 32px;
  font-weight: 400;
  color: #772439;
  line-height: normal;
  margin: 0 0 15px 0;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .lawyer-professional-experience .lawyer-professional-experience-wrapper h2 {
    font-size: 20px;
  }
}
.lawyer-professional-experience .lawyer-professional-experience-wrapper .lawyer-professional-experience-list {
  margin: 0;
  padding: 0 0 0 25px;
}
.lawyer-professional-experience .lawyer-professional-experience-wrapper .lawyer-professional-experience-list li {
  font-size: 16px;
  margin-bottom: 6px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .lawyer-professional-experience .lawyer-professional-experience-wrapper .lawyer-professional-experience-list li {
    font-size: 12px;
  }
}

.lawyer-languages {
  padding: 40px 0;
  background: url("../assets/lawyer-languages-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.lawyer-languages .lawyer-languages-grid {
  display: flex;
  justify-content: left;
  align-content: center;
  max-width: 679px;
  margin: 0 auto;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .lawyer-languages .lawyer-languages-grid {
    display: block;
    max-width: 244px;
  }
}
.lawyer-languages .lawyer-languages-grid h2 {
  font-family: "Inria Serif", serif;
  font-size: 32px;
  font-weight: 400;
  color: #FFF;
  line-height: normal;
  width: 170px;
  margin: 0;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .lawyer-languages .lawyer-languages-grid h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
}
.lawyer-languages .lawyer-languages-grid .lawyer-languages-list {
  margin: 0;
  padding: 0 0 0 20px;
}
.lawyer-languages .lawyer-languages-grid .lawyer-languages-list li {
  font-size: 16px;
  color: #FFF;
  margin-bottom: 6px;
}

.laywer-additional-studies {
  padding: 60px 0;
  background: url("../assets/laywer-additional-studies-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.laywer-additional-studies .laywer-additional-studies-wrapper {
  max-width: 679px;
  margin: 0 auto;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .laywer-additional-studies .laywer-additional-studies-wrapper {
    max-width: 244px;
  }
}
.laywer-additional-studies .laywer-additional-studies-wrapper h2 {
  font-family: "Inria Serif", serif;
  font-size: 32px;
  font-weight: 400;
  color: #FFF;
  line-height: normal;
  margin: 0 0 15px 0;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .laywer-additional-studies .laywer-additional-studies-wrapper h2 {
    font-size: 20px;
  }
}
.laywer-additional-studies .laywer-additional-studies-wrapper .laywer-additional-studies-list {
  margin: 0;
  padding: 0 0 0 25px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .laywer-additional-studies .laywer-additional-studies-wrapper .laywer-additional-studies-list {
    padding: 0 0 0 20px;
  }
}
.laywer-additional-studies .laywer-additional-studies-wrapper .laywer-additional-studies-list li {
  font-size: 16px;
  margin-bottom: 6px;
  color: #FFF;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .laywer-additional-studies .laywer-additional-studies-wrapper .laywer-additional-studies-list li {
    font-size: 12px;
  }
}/*# sourceMappingURL=style.css.map */