@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Source Sans 3", sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  line-height: normal;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1132px;
  margin: 0 auto;
  box-sizing: border-box;
}

.navbar-main {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .navbar-main {
    background-color: #772439;
  }
}
.navbar-main .container {
  display: flex;
  justify-content: right;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .navbar-main .container {
    padding: 0 20px;
  }
}
.navbar-main .container .navbar-main-mobile-grid {
  display: none;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .navbar-main .container .navbar-main-mobile-grid {
    display: flex;
  }
}
.navbar-main .container .navbar-main-mobile-grid .navbar-main-mobile-logo {
  width: auto;
  height: 26px;
}
.navbar-main .container .navbar-main-mobile-grid .navbar-main-mobile-burger {
  width: 30px;
  cursor: pointer;
}
.navbar-main .container .navbar-main-mobile-grid .navbar-main-mobile-burger .navbar-main-mobile-burger-line {
  width: 100%;
  height: 2px;
  background-color: #fff;
  margin-bottom: 5px;
}
.navbar-main .container .navbar-main-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .navbar-main .container .navbar-main-menu {
    display: none;
  }
}
.navbar-main .container .navbar-main-menu .navbar-main-menu-item {
  display: inline-block;
  margin-right: 60px;
}
.navbar-main .container .navbar-main-menu .navbar-main-menu-item:hover .navbar-main-submenu {
  opacity: 1;
  visibility: visible;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .navbar-main .container .navbar-main-menu .navbar-main-menu-item {
    margin-right: 20px;
  }
}
.navbar-main .container .navbar-main-menu .navbar-main-menu-item a {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .navbar-main .container .navbar-main-menu .navbar-main-menu-item a {
    font-size: 16px;
  }
}
.navbar-main .container .navbar-main-menu .navbar-main-menu-item .navbar-main-submenu {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  position: absolute;
  background-color: #772439;
  list-style: none;
  padding: 10px 20px;
  margin: 0;
}
.navbar-main .container .navbar-main-menu .navbar-main-menu-item .navbar-main-submenu .navbar-main-submenu-item {
  margin-bottom: 12px;
}
.navbar-main .container .navbar-main-menu .navbar-main-menu-item .navbar-main-submenu .navbar-main-submenu-item a {
  font-size: 18px;
  font-weight: 500;
}

.mobile-menu {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #772439;
  z-index: 9999;
}
.mobile-menu .mobile-menu-header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.mobile-menu .mobile-menu-header .mobile-menu-close {
  cursor: pointer;
}
.mobile-menu #mobile-menu-items {
  list-style: none;
  margin: 0;
  padding: 20px;
}
.mobile-menu #mobile-menu-items .mobile-menu-item,
.mobile-menu #mobile-menu-items .mobile-menu-item > a {
  font-size: 22px;
  font-weight: 500;
  margin: 0 0 10px 0;
  color: white;
  text-align: center;
}
.mobile-menu #mobile-menu-items .mobile-menu-subitem {
  margin: 0 0 15px 0;
  text-align: center;
}
.mobile-menu #mobile-menu-items .mobile-menu-subitem a {
  font-size: 18px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
}
.mobile-menu #mobile-menu-items .mobile-menu-divider {
  width: 70%;
  height: 2px;
  background-color: #fff;
  margin: 0 auto 10px auto;
}

.hero-main {
  background: url("../assets/hero-main-bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 810px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .hero-main {
    background-position: center;
    background-size: cover;
    min-height: 310px;
  }
}
.hero-main .container {
  max-width: 1440px;
}
.hero-main .container .hero-main-logo {
  padding-top: 210px;
  padding-left: 200px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .hero-main .container .hero-main-logo {
    display: none;
  }
}
.hero-main .container .hero-main-title {
  padding-top: 320px;
  text-align: center;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .hero-main .container .hero-main-title {
    display: none;
  }
}
.hero-main .container .hero-main-title h1 {
  font-family: "Source Serif 4", serif;
  font-size: 22px;
  font-weight: 600;
  color: #772439;
  text-transform: uppercase;
}
.hero-main .container .hero-main-grid {
  display: none;
  padding: 120px 30px 0 30px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .hero-main .container .hero-main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.hero-main .container .hero-main-grid .hero-main-grid-title h1 {
  font-family: "Source Serif 4", serif;
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
  color: #FFFFFF;
}

.about {
  position: relative;
  background-color: #EBF0FF;
}
.about .about-intro {
  display: flex;
  align-items: center;
  background-color: #fff;
  height: 250px;
}
.about .about-intro p {
  font-family: "Inria Serif", serif;
  font-size: 24px;
  font-weight: 400;
  color: #772439;
  text-transform: uppercase;
  text-align: center;
  max-width: 686px;
  margin: 0 auto;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .about .about-intro p {
    font-size: 12px;
    max-width: 210px;
  }
}
.about .about-desc {
  background-color: #EBF0FF;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .about .about-desc {
    display: block;
  }
}
.about .about-desc .about-desc-image {
  margin-right: 10px;
}
.about .about-desc .about-desc-image img {
  display: block;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .about .about-desc .about-desc-image {
    margin-right: 0;
  }
  .about .about-desc .about-desc-image img {
    width: 240px;
    height: auto;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .about .about-desc .about-desc-text {
    display: flex;
    justify-content: center;
    padding: 40px 0;
  }
}
.about .about-desc .about-desc-text p {
  font-family: "Source Serif 4", serif;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  max-width: 328px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .about .about-desc .about-desc-text p {
    font-size: 12px;
    max-width: 246px;
  }
}
.about .about-image {
  position: absolute;
  right: 220px;
  bottom: 0;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .about .about-image {
    display: block;
    position: relative;
    width: 270px;
    height: auto;
    right: 0;
    margin: 0 auto;
  }
}

.about .about-grid {
  justify-content: space-between;
}
.about .about-grid .about-left-image {
  display: flex;
  align-items: flex-end;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .about .about-grid .about-left-image img {
    width: 240px;
    height: auto;
  }
}
.about .about-grid .about-text {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .about .about-grid .about-text {
    padding: 60px 0 20px 0;
  }
}
.about .about-grid .about-text p {
  font-size: 16px;
  max-width: 508px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .about .about-grid .about-text p {
    font-size: 12px;
    max-width: 246px;
    margin: 0 auto;
  }
}
.about .about-grid .about-right-image {
  display: flex;
  align-items: flex-end;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .about .about-grid .about-right-image img {
    width: 100%;
    height: auto;
  }
}

.books-banner {
  background: url("../assets/books-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .books-banner {
    background: url("../assets/books-bg-mobile.jpg");
    height: 250px;
  }
}

.details .details-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .details .details-grid {
    grid-template-columns: 1fr;
  }
}
.details .details-grid .details-left {
  display: flex;
  justify-content: right;
  align-items: center;
  min-height: 300px;
  background-color: #FFFFFF;
  color: #772439;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .details .details-grid .details-left {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-height: 250px;
    padding: 0 35px;
  }
}
.details .details-grid .details-left h2 {
  font-family: "Inria Serif", serif;
  font-size: 24px;
  font-weight: 400;
  margin-right: 50px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .details .details-grid .details-left h2 {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
.details .details-grid .details-left p {
  font-family: "Source Serif 4", serif;
  font-size: 16px;
  max-width: 330px;
  margin-right: 50px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .details .details-grid .details-left p {
    font-size: 12px;
    margin-right: 0;
  }
}
.details .details-grid .details-right {
  position: relative;
  display: flex;
  justify-content: left;
  align-items: center;
  min-height: 300px;
  background-color: #772439;
  color: #FFFFFF;
  overflow-x: hidden;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .details .details-grid .details-right {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-height: 250px;
    padding: 0 35px;
  }
}
.details .details-grid .details-right h2 {
  font-family: "Inria Serif", serif;
  font-size: 24px;
  font-weight: 400;
  margin-left: 50px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .details .details-grid .details-right h2 {
    margin-left: 0;
    margin-bottom: 10px;
  }
}
.details .details-grid .details-right p {
  font-family: "Source Serif 4", serif;
  font-size: 16px;
  max-width: 330px;
  margin-left: 50px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .details .details-grid .details-right p {
    font-size: 12px;
    margin-left: 0;
  }
}
.details .details-grid .details-right img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 284px;
  height: auto;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .details .details-grid .details-right img {
    width: 170px;
    height: auto;
    margin-right: -30px;
  }
}

.features-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../assets/features-banner-bg.jpg");
  background-size: cover;
  height: 150px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .features-banner {
    height: 120px;
  }
}
.features-banner p {
  font-family: "Source Serif 4", serif;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  text-align: center;
  max-width: 364px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .features-banner p {
    font-size: 12px;
    max-width: 236px;
  }
}

.features .features-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .features .features-grid {
    grid-template-columns: 1fr;
  }
}
.features .features-grid > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
}
.features .features-grid > div .feature-title {
  font-family: "Inria Serif", serif;
  font-size: 24px;
  color: #FFFFFF;
}
.features .features-grid .feature-01 {
  background: linear-gradient(to left, rgba(30, 30, 30, 0.5), rgba(30, 30, 30, 0.5)), url("../assets/feature-01.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.features .features-grid .feature-02 {
  background: linear-gradient(to left, rgba(30, 30, 30, 0.5), rgba(30, 30, 30, 0.5)), url("../assets/feature-02.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.features .features-grid .feature-03 {
  background: linear-gradient(to left, rgba(30, 30, 30, 0.5), rgba(30, 30, 30, 0.5)), url("../assets/feature-03.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.features .features-grid .feature-04 {
  background: linear-gradient(to left, rgba(30, 30, 30, 0.5), rgba(30, 30, 30, 0.5)), url("../assets/feature-04.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.features .features-grid .feature-05 {
  background: linear-gradient(to left, rgba(30, 30, 30, 0.5), rgba(30, 30, 30, 0.5)), url("../assets/feature-05.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.clients-banner {
  background: url("../assets/clients-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 120px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .clients-banner {
    height: 100px;
  }
}

.biography {
  position: relative;
}
.biography .biography-title {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.biography .biography-title .biography-title-left {
  display: flex;
  justify-content: right;
  align-items: flex-end;
}
.biography .biography-title .biography-title-left .biography-title-image {
  display: none;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .biography .biography-title .biography-title-left .biography-title-image {
    display: block;
  }
}
.biography .biography-title .biography-title-right {
  padding: 160px 0 40px 0;
}
.biography .biography-title .biography-title-right h2 {
  font-family: "Inria Serif", serif;
  font-size: 24px;
  font-weight: 400;
  color: #772439;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .biography .biography-title .biography-title-right h2 {
    font-size: 14px;
    max-width: 130px;
  }
}
.biography .biography-title .biography-title-right h3 {
  font-family: "Inria Serif", serif;
  font-size: 20px;
  font-weight: 400;
  color: #31343A;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .biography .biography-title .biography-title-right h3 {
    font-size: 11px;
    max-width: 140px;
  }
}
.biography .biography-desc {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: url("../assets/biography-bg.jpg");
  background-size: cover;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .biography .biography-desc {
    display: block;
  }
}
.biography .biography-desc .biography-desc-right {
  padding: 60px 0;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .biography .biography-desc .biography-desc-right {
    padding: 60px 37px;
  }
}
.biography .biography-desc .biography-desc-right p {
  font-family: "Source Serif 4", serif;
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  max-width: 510px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .biography .biography-desc .biography-desc-right p {
    font-size: 12px;
  }
}
.biography .biography-image {
  position: absolute;
  bottom: 0;
  left: 23%;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .biography .biography-image {
    display: none;
  }
}

.biography-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../assets/biography-banner-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .biography-banner {
    height: 150px;
  }
}
.biography-banner p {
  font-family: "Source Serif 4", serif;
  font-size: 16px;
  font-weight: 400;
  color: #772439;
  max-width: 506px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .biography-banner p {
    font-size: 12px;
    max-width: 246px;
  }
}

.contact {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  height: 300px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .contact {
    display: block;
    height: auto;
    background-color: #EBF0FF;
  }
}
.contact .contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  background-color: #FFFFFF;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .contact .contact-grid {
    display: block;
    padding: 20px 0;
  }
}
.contact .contact-grid .contact-grid-left {
  display: flex;
  justify-content: right;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .contact .contact-grid .contact-grid-left {
    display: block;
  }
}
.contact .contact-grid .contact-grid-left .contact-grid-left-container {
  width: 507px;
  margin-right: 50px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .contact .contact-grid .contact-grid-left .contact-grid-left-container {
    width: 246px;
    margin-right: 0;
    margin: 0 auto;
  }
}
.contact .contact-grid .contact-grid-left .contact-grid-left-container .contact-grid-left-title {
  font-family: "Source Serif 4", serif;
  font-size: 16px;
  font-weight: 400;
  color: #585857;
  max-width: 326px;
  margin: 0 auto;
  margin-bottom: 30px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .contact .contact-grid .contact-grid-left .contact-grid-left-container .contact-grid-left-title {
    font-size: 12px;
    margin-bottom: 10px;
  }
}
.contact .contact-grid .contact-grid-left .contact-grid-left-container .contact-grid-left-addresses {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .contact .contact-grid .contact-grid-left .contact-grid-left-container .contact-grid-left-addresses {
    display: block;
  }
}
.contact .contact-grid .contact-grid-left .contact-grid-left-container .contact-grid-left-addresses .contact-grid-left-address {
  text-align: center;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .contact .contact-grid .contact-grid-left .contact-grid-left-container .contact-grid-left-addresses .contact-grid-left-address {
    margin-bottom: 10px;
  }
}
.contact .contact-grid .contact-grid-left .contact-grid-left-container .contact-grid-left-addresses .contact-grid-left-address img {
  margin-bottom: 10px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .contact .contact-grid .contact-grid-left .contact-grid-left-container .contact-grid-left-addresses .contact-grid-left-address img {
    width: 30px;
    height: 30px;
  }
}
.contact .contact-grid .contact-grid-left .contact-grid-left-container .contact-grid-left-addresses .contact-grid-left-address p {
  font-family: "Source Serif 4", serif;
  font-size: 14px;
  font-weight: 400;
  color: #772439;
  text-align: left;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .contact .contact-grid .contact-grid-left .contact-grid-left-container .contact-grid-left-addresses .contact-grid-left-address p {
    font-size: 12px;
    text-align: center;
  }
}
.contact .contact-image {
  position: absolute;
  display: block;
  bottom: 0;
  right: 0;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .contact .contact-image {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 20px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .contact-map iframe {
    height: 200px;
  }
}

.scope .scope-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .scope .scope-grid {
    grid-template-columns: 1fr;
  }
}
.scope .scope-grid .scope-left-image {
  display: flex;
  align-items: flex-start;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .scope .scope-grid .scope-left-image img {
    width: 240px;
    height: auto;
  }
}
.scope .scope-grid .scope-info {
  display: flex;
  justify-content: left;
  align-items: center;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .scope .scope-grid .scope-info {
    display: block;
    padding: 30px 60px;
  }
}
.scope .scope-grid .scope-info h2 {
  font-family: "Inria Serif", serif;
  font-size: 24px;
  font-weight: 400;
  color: #772439;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .scope .scope-grid .scope-info h2 {
    margin-bottom: 10px;
  }
}
.scope .scope-grid .scope-info .scope-info-wrapper {
  font-size: 16px;
}
.scope .scope-grid .scope-info .scope-info-wrapper p {
  margin: 0 0 10px 0;
}
.scope .scope-grid .scope-info .scope-info-wrapper ul {
  margin: 0;
}
.scope .scope-grid .scope-info .scope-info-wrapper ul li {
  margin: 0 0 5px 0;
}
.scope .scope-grid .scope-right-image {
  display: flex;
  align-items: flex-start;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .scope .scope-grid .scope-right-image {
    background: url("../assets/scope-right-mobile.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    height: 326px;
  }
  .scope .scope-grid .scope-right-image img {
    width: 100%;
    height: auto;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) and (min-width: 320px) and (max-width: 480px) {
  .scope .scope-grid .scope-right-image img {
    display: none;
  }
}

.footer-main {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../assets/footer-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 481px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .footer-main {
    height: 250px;
  }
}

.lawyer-hero .lawyer-hero-grid {
  display: grid;
  grid-template-columns: 55% 45%;
  margin-top: 100px;
  min-height: 350px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .lawyer-hero .lawyer-hero-grid {
    grid-template-columns: 1fr;
    margin-top: 60px;
  }
}
.lawyer-hero .lawyer-hero-grid .lawyer-hero-left {
  position: relative;
  padding: 40px 0 0 260px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .lawyer-hero .lawyer-hero-grid .lawyer-hero-left {
    background: linear-gradient(to bottom, rgb(255, 255, 255) 80%, rgba(0, 0, 0, 0.08));
    min-height: 160px;
    padding: 40px 0 0 150px;
  }
}
.lawyer-hero .lawyer-hero-grid .lawyer-hero-left #lawyer-image {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 280px;
  height: auto;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .lawyer-hero .lawyer-hero-grid .lawyer-hero-left #lawyer-image {
    height: 100%;
    width: auto;
  }
}
.lawyer-hero .lawyer-hero-grid .lawyer-hero-left #lawyer-name {
  font-family: "Inria Serif", serif;
  font-size: 36px;
  font-weight: 400;
  color: #772439;
  max-width: 331px;
  line-height: normal;
  margin: 0 0 5px 0;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .lawyer-hero .lawyer-hero-grid .lawyer-hero-left #lawyer-name {
    font-size: 15px;
    max-width: 130px;
  }
}
.lawyer-hero .lawyer-hero-grid .lawyer-hero-left #lawyer-email {
  font-size: 16px;
  margin: 0;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .lawyer-hero .lawyer-hero-grid .lawyer-hero-left #lawyer-email {
    font-size: 10px;
  }
}
.lawyer-hero .lawyer-hero-grid .lawyer-hero-right {
  padding: 20px 0 0 0;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .lawyer-hero .lawyer-hero-grid .lawyer-hero-right {
    padding: 40px;
  }
}
.lawyer-hero .lawyer-hero-grid .lawyer-hero-right h2 {
  font-family: "Inria Serif", serif;
  font-size: 32px;
  font-weight: 400;
  color: #772439;
  line-height: normal;
  margin: 0 0 15px 0;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .lawyer-hero .lawyer-hero-grid .lawyer-hero-right h2 {
    font-size: 20px;
  }
}
.lawyer-hero .lawyer-hero-grid .lawyer-hero-right #lawyer-academic-list {
  margin: 0;
  padding: 0 0 0 25px;
}
.lawyer-hero .lawyer-hero-grid .lawyer-hero-right #lawyer-academic-list li {
  font-size: 16px;
  margin-bottom: 6px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .lawyer-hero .lawyer-hero-grid .lawyer-hero-right #lawyer-academic-list li {
    font-size: 12px;
  }
}

.lawyer-experience {
  padding: 50px 0;
  background: url("../assets/lawyer-professional-experience-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.lawyer-experience .lawyer-experience-wrapper {
  max-width: 679px;
  margin: 0 auto;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .lawyer-experience .lawyer-experience-wrapper {
    max-width: 244px;
  }
}
.lawyer-experience .lawyer-experience-wrapper h2 {
  font-family: "Inria Serif", serif;
  font-size: 32px;
  font-weight: 400;
  color: #772439;
  line-height: normal;
  margin: 0 0 15px 0;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .lawyer-experience .lawyer-experience-wrapper h2 {
    font-size: 20px;
  }
}
.lawyer-experience .lawyer-experience-wrapper #lawyer-experience-list {
  margin: 0;
  padding: 0 0 0 25px;
}
.lawyer-experience .lawyer-experience-wrapper #lawyer-experience-list li {
  font-size: 16px;
  margin-bottom: 6px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .lawyer-experience .lawyer-experience-wrapper #lawyer-experience-list li {
    font-size: 12px;
  }
}

.lawyer-languages {
  padding: 40px 0;
  background: url("../assets/lawyer-languages-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.lawyer-languages .lawyer-languages-grid {
  display: flex;
  justify-content: left;
  align-content: center;
  max-width: 679px;
  margin: 0 auto;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .lawyer-languages .lawyer-languages-grid {
    display: block;
    max-width: 244px;
  }
}
.lawyer-languages .lawyer-languages-grid h2 {
  font-family: "Inria Serif", serif;
  font-size: 32px;
  font-weight: 400;
  color: #FFF;
  line-height: normal;
  width: 170px;
  margin: 0;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .lawyer-languages .lawyer-languages-grid h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
}
.lawyer-languages .lawyer-languages-grid #lawyer-languages-list {
  margin: 0;
  padding: 0 0 0 20px;
}
.lawyer-languages .lawyer-languages-grid #lawyer-languages-list li {
  font-size: 16px;
  color: #FFF;
  margin-bottom: 6px;
}

.laywer-additional {
  padding: 60px 0;
  background: url("../assets/laywer-additional-studies-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.laywer-additional .laywer-additional-wrapper {
  max-width: 679px;
  margin: 0 auto;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .laywer-additional .laywer-additional-wrapper {
    max-width: 244px;
  }
}
.laywer-additional .laywer-additional-wrapper h2 {
  font-family: "Inria Serif", serif;
  font-size: 32px;
  font-weight: 400;
  color: #FFF;
  line-height: normal;
  margin: 0 0 15px 0;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .laywer-additional .laywer-additional-wrapper h2 {
    font-size: 20px;
  }
}
.laywer-additional .laywer-additional-wrapper #laywer-additional-list {
  margin: 0;
  padding: 0 0 0 25px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .laywer-additional .laywer-additional-wrapper #laywer-additional-list {
    padding: 0 0 0 20px;
  }
}
.laywer-additional .laywer-additional-wrapper #laywer-additional-list li {
  font-size: 16px;
  margin-bottom: 6px;
  color: #FFF;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .laywer-additional .laywer-additional-wrapper #laywer-additional-list li {
    font-size: 12px;
  }
}

.admin-hero .admin-hero-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 350px;
  margin-top: 60px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .admin-hero .admin-hero-grid {
    grid-template-columns: 1fr;
    margin-top: 60px;
  }
}
.admin-hero .admin-hero-grid .admin-hero-left {
  display: flex;
  align-items: flex-end;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .admin-hero .admin-hero-grid .admin-hero-left {
    padding: 20px 20px 0 20px;
  }
  .admin-hero .admin-hero-grid .admin-hero-left img {
    width: 100%;
    height: auto;
  }
}
.admin-hero .admin-hero-grid .admin-hero-right {
  padding: 40px 0 0 40px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .admin-hero .admin-hero-grid .admin-hero-right {
    padding: 40px;
  }
}
.admin-hero .admin-hero-grid .admin-hero-right h2 {
  font-family: "Inria Serif", serif;
  font-size: 32px;
  font-weight: 400;
  color: #772439;
  line-height: normal;
  margin: 0 0 15px 0;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .admin-hero .admin-hero-grid .admin-hero-right h2 {
    font-size: 20px;
  }
}
.admin-hero .admin-hero-grid .admin-hero-right ul {
  margin: 0;
  padding: 0 0 0 50px;
}
.admin-hero .admin-hero-grid .admin-hero-right ul li {
  font-size: 16px;
  margin-bottom: 6px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .admin-hero .admin-hero-grid .admin-hero-right ul li {
    font-size: 12px;
  }
}

.admin-functions {
  padding: 50px 0;
  background: url("../assets/admin-functions-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.admin-functions .admin-functions-wrapper {
  max-width: 679px;
  margin: 0 auto;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .admin-functions .admin-functions-wrapper {
    max-width: 244px;
  }
}
.admin-functions .admin-functions-wrapper h2 {
  font-family: "Inria Serif", serif;
  font-size: 32px;
  font-weight: 400;
  color: #772439;
  line-height: normal;
  margin: 0 0 15px 0;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .admin-functions .admin-functions-wrapper h2 {
    font-size: 20px;
  }
}
.admin-functions .admin-functions-wrapper ul {
  margin: 0;
  padding: 0 0 0 25px;
}
.admin-functions .admin-functions-wrapper ul li {
  font-size: 16px;
  margin-bottom: 6px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .admin-functions .admin-functions-wrapper ul li {
    font-size: 12px;
  }
}

.admin-languages {
  background: url("../assets/admin-languages-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 140px;
}

.admin-additional-studies {
  padding: 60px 0;
  background: url("../assets/admin-additional-studies-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.admin-additional-studies .admin-additional-studies-wrapper {
  max-width: 679px;
  margin: 0 auto;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .admin-additional-studies .admin-additional-studies-wrapper {
    max-width: 244px;
  }
}
.admin-additional-studies .admin-additional-studies-wrapper h2 {
  font-family: "Inria Serif", serif;
  font-size: 32px;
  font-weight: 400;
  color: #FFF;
  line-height: normal;
  margin: 0 0 15px 0;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .admin-additional-studies .admin-additional-studies-wrapper h2 {
    font-size: 20px;
  }
}
.admin-additional-studies .admin-additional-studies-wrapper ul {
  margin: 0;
  padding: 0 0 0 25px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .admin-additional-studies .admin-additional-studies-wrapper ul {
    padding: 0 0 0 20px;
  }
}
.admin-additional-studies .admin-additional-studies-wrapper ul li {
  font-size: 16px;
  margin-bottom: 6px;
  color: #FFF;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .admin-additional-studies .admin-additional-studies-wrapper ul li {
    font-size: 12px;
  }
}/*# sourceMappingURL=style.css.map */