// Fonts
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap')

// Mixins
@mixin tablet
    @media screen and (min-width: 481px) and (max-width: 820px)
        @content
@mixin mobile
    @media screen and (min-width: 320px) and (max-width: 480px)
        @content

@mixin inriaSerif()
    font-family: "Inria Serif", serif
@mixin backgroundCover()
    background-position: center
    background-repeat: no-repeat
    background-size: cover

html
    scroll-behavior: smooth

body
    font-family: "Source Sans 3", sans-serif

h1, h2, h3, h4, h5, h6, p
    line-height: normal
    margin: 0

a
    text-decoration: none

// Utils
.container
    width: 100%
    max-width: 1132px
    margin: 0 auto
    box-sizing: border-box

// Sections
.navbar-main
    display: flex
    align-items: center
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 60px
    background: rgba(0, 0, 0, 0.25)
    @include mobile
        background-color: #772439
    .container
        display: flex
        justify-content: right
        @include mobile
            padding: 0 20px
        .navbar-main-mobile-grid
            display: none
            justify-content: space-between
            align-items: center
            width: 100%
            @include mobile
                display: flex
            .navbar-main-mobile-burger
                width: 30px
                cursor: pointer
                .navbar-main-mobile-burger-line
                    width: 100%
                    height: 2px
                    background-color: #fff
                    margin-bottom: 5px
        .navbar-main-menu
            list-style: none
            padding: 0
            margin: 0
            @include mobile
                display: none
            .navbar-main-menu-item
                display: inline-block
                margin-right: 60px
                &:hover 
                    .navbar-main-submenu
                        opacity: 1
                        visibility: visible
                @include mobile
                    margin-right: 20px
                a
                    font-size: 20px
                    font-weight: 500
                    color: #fff
                    @include mobile
                        font-size: 16px
                .navbar-main-submenu
                    opacity: 0
                    visibility: hidden
                    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out
                    position: absolute
                    background-color: #772439
                    list-style: none
                    padding: 10px 20px
                    margin: 0
                    .navbar-main-submenu-item
                        margin-bottom: 12px
                        a
                            font-size: 18px
                            font-weight: 500

.mobile-menu
    opacity: 0
    visibility: hidden
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out
    position: fixed
    width: 100%
    height: 100%
    top: 0
    background-color: #772439
    z-index: 9999
    .mobile-menu-header
        display: flex
        justify-content: space-between
        padding: 20px
        margin-bottom: 20px
        border-bottom: 1px solid rgba(255, 255, 255, 0.2)
        .mobile-menu-close
            cursor: pointer
    #mobile-menu-items
        list-style: none
        margin: 0
        padding: 20px
        .mobile-menu-item,
        .mobile-menu-item > a
            font-size: 22px
            font-weight: 500
            margin: 0 0 10px 0
            color: #ffff
            text-align: center
        .mobile-menu-subitem
            margin: 0 0 15px 0
            text-align: center
            a
                font-size: 18px
                font-weight: 500
                color: rgba(255, 255, 255, 0.8)
        .mobile-menu-divider
            width: 70%
            height: 2px
            background-color: #fff
            margin: 0 auto 10px auto

.hero-main
    background: url('../assets/hero-main-bg.jpg')
    background-position: top center
    background-repeat: no-repeat
    background-size: contain 100%
    min-height: 810px
    @include mobile
        background-position: center
        background-size: cover
        min-height: 350px
    .container
        max-width: 1440px
        padding: 0 100px 0 200px
        @include mobile
            padding: 0 30px
    .hero-main-grid
        display: grid
        grid-template-columns: 40% 60%
        padding-top: 200px
        box-sizing: border-box
        @include mobile
            grid-template-columns: 1fr 1fr
            padding-top: 130px
        .hero-main-logo
            @include mobile
                img
                    width: 56px
                    height: auto
        .hero-main-title
            display: flex
            align-items: center
            @include mobile
                    display: none
            h1
                font-size: 24px
                font-weight: 500
                color: #fff
        .hero-main-title-mobile
            display: none
            @include mobile
                display: block
            h1
                font-size: 12px
                font-weight: 500
                color: #fff
                max-width: 100px

.about-banner
    background-color: #fff
    padding: 80px 0
    @include mobile
        padding: 80px 20px
    p
        @include inriaSerif()
        font-size: 24px
        font-weight: 400
        color: #772439
        max-width: 686px
        margin: 0 auto
        @include mobile
            font-size: 12px
            max-width: 210px

.about
    background-color: #F1F1F2
    .about-grid
        display: flex
        justify-content: space-between
        @include mobile
            display: block
        .about-left-image
            display: flex
            align-items: flex-end
            @include mobile
                img
                    width: 240px
                    height: auto
        .about-text
            display: flex
            align-items: center
            @include mobile
                padding: 60px 0 20px 0
            p
                font-size: 16px
                max-width: 508px
                @include mobile
                    font-size: 12px
                    max-width: 246px
                    margin: 0 auto
        .about-right-image
            display: flex
            align-items: flex-end
            @include mobile
                img
                    width: 100%
                    height: auto

.books-banner
    background: url('../assets/books-bg.jpg')
    @include backgroundCover()
    height: 200px
    @include mobile
        background: url('../assets/books-bg-mobile.jpg')
        height: 250px

.details
    .details-grid
        display: grid
        grid-template-columns: 1fr 1fr
        @include mobile
            grid-template-columns: 1fr
        .details-left
            display: flex
            justify-content: right
            align-items: center
            min-height: 300px
            background-color: #FFFFFF
            color: #772439
            @include mobile
                flex-direction: column
                justify-content: center
                align-items: flex-start
                min-height: 250px
                padding: 0 60px
            h2
                @include inriaSerif()
                font-size: 24px
                font-weight: 400
                margin-right: 50px
                @include mobile
                    margin-right: 0
                    margin-bottom: 10px
            p
                font-size: 16px
                max-width: 330px
                margin-right: 50px
                @include mobile
                    font-size: 12px
                    margin-right: 0
        .details-right
            position: relative
            display: flex
            justify-content: left
            align-items: center
            min-height: 300px
            background-color: #772439
            color: #FFFFFF
            overflow-x: hidden
            @include mobile
                flex-direction: column
                justify-content: center
                align-items: flex-start
                min-height: 250px
                padding: 0 60px
            h2
                @include inriaSerif()
                font-size: 24px
                font-weight: 400
                margin-left: 50px
                @include mobile
                    margin-left: 0
                    margin-bottom: 10px
            p
                font-size: 16px
                max-width: 330px
                margin-left: 50px
                @include mobile
                    font-size: 12px
                    margin-left: 0
            img
                position: absolute
                bottom: 0
                right: 0
                width: 170px
                height: auto

.features
    .features-grid
        display: grid
        grid-template-columns: repeat(5, 1fr)
        @include mobile
            grid-template-columns: 1fr
        > div
            display: flex
            justify-content: center
            align-items: center
            height: 250px
            .feature-title
                @include inriaSerif()
                font-size: 24px
                color: #FFFFFF
        .feature-01
            background: linear-gradient(to left, rgba(rgb(30, 30, 30), 0.5), rgba(rgb(30, 30, 30), 0.5)), url('../assets/feature-01.png')
            @include backgroundCover()
        .feature-02
            background: linear-gradient(to left, rgba(rgb(30, 30, 30), 0.5), rgba(rgb(30, 30, 30), 0.5)),url('../assets/feature-02.png')
            @include backgroundCover()
        .feature-03
            background: linear-gradient(to left, rgba(rgb(30, 30, 30), 0.5), rgba(rgb(30, 30, 30), 0.5)), url('../assets/feature-03.png')
            @include backgroundCover()
        .feature-04
            background: linear-gradient(to left, rgba(rgb(30, 30, 30), 0.5), rgba(rgb(30, 30, 30), 0.5)), url('../assets/feature-04.png')
            @include backgroundCover()
        .feature-05
            background: linear-gradient(to left, rgba(rgb(30, 30, 30), 0.5), rgba(rgb(30, 30, 30), 0.5)), url('../assets/feature-05.png')
            @include backgroundCover()

.clients
    background: url('../assets/clients-bg.jpg')
    @include backgroundCover()
    background-attachment: fixed
    color: #FFFFFF
    padding: 40px 0
    @include mobile
        padding: 60px 40px
    .clients-grid
        display: grid
        grid-template-columns: repeat(3, 1fr)
        @include mobile
            grid-template-columns: 1fr
        .clients-title
            display: flex
            justify-content: center
            align-items: center
            @include mobile
                justify-content: left
                margin-bottom: 20px
            h2
                @include inriaSerif()
                font-size: 24px
                font-weight: 400
        .clients-list
            @include mobile
                margin-bottom: 30px
            font-size: 16px
            p
                margin: 0 0 10px 0
            ul
                margin: 0
                li
                    margin: 0 0 5px 0
        .clients-finances
            display: flex
            justify-content: center
            font-size: 16px
            align-items: center
            p
                text-align: center
                max-width: 236px

.contact
    .contact-grid
        display: grid
        grid-template-columns: 1fr 1fr
        @include mobile
            grid-template-columns: 1fr
        .contact-info
            display: flex
            justify-content: right
            align-items: center
            @include mobile
                padding: 60px 0
            .contact-info-wrapper
                max-width: 370px
                font-size: 16px
                margin-right: 100px
                @include mobile
                    max-width: 244px
                    margin-right: 0
                    margin: 0 auto
                .contact-info-highlight
                    font-weight: bold
                    color: #772439
                img
                    display: block
                    margin: 0 auto
                    padding: 10px 0 15px 0
        .contact-map
            iframe
                display: block
                width: 100%
                height: 380px
                @include mobile
                    height: 230px

.scope
    .scope-grid
        display: grid
        grid-template-columns: repeat(3, 1fr)
        @include mobile
            grid-template-columns: 1fr
        .scope-left-image
            display: flex
            align-items: flex-start
            @include mobile
                img
                    width: 240px
                    height: auto
        .scope-info
            display: flex
            justify-content: left
            align-items: center
            @include mobile
                display: block
                padding: 30px 60px
            h2
                @include inriaSerif()
                font-size: 24px
                font-weight: 400
                color: #772439
                @include mobile
                    margin-bottom: 10px
            .scope-info-wrapper
                font-size: 16px
                p
                    margin: 0 0 10px 0
                ul
                    margin: 0
                    li
                        margin: 0 0 5px 0
        .scope-right-image
            display: flex
            align-items: flex-start
            @include mobile
                background: url('../assets/scope-right-mobile.png')
                background-repeat: no-repeat
                background-size: 100% auto
                background-position: center
                height: 326px
                img
                    width: 100%
                    height: auto
                    @include mobile
                        display: none

.footer-main
    display: flex
    justify-content: center
    align-items: center
    background: url('../assets/footer-bg.jpg')
    @include backgroundCover()
    height: 481px
    @include mobile
       height: 250px

.lawyer-hero
    .lawyer-hero-grid
        display: grid
        grid-template-columns: 55% 45%
        margin-top: 100px
        min-height: 350px
        @include mobile
            grid-template-columns: 1fr
            margin-top: 60px
        .lawyer-hero-left
            position: relative
            padding: 40px 0 0 260px
            @include mobile
                background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 80%, rgba(0, 0, 0, 0.08))
                min-height: 160px
                padding: 40px 0 0 150px
            #lawyer-image
                position: absolute
                bottom: 0
                left: 0
                @include mobile
                    height: 100%
                    width: auto
            #lawyer-name
                @include inriaSerif()
                font-size: 36px
                font-weight: 400
                color: #772439
                max-width: 331px
                line-height: normal
                margin: 0 0 5px 0
                @include mobile
                    font-size: 15px
                    max-width: 130px
            #lawyer-email
                font-size: 16px
                margin: 0
                @include mobile
                    font-size: 10px
        .lawyer-hero-right
            padding: 20px 0 0 0
            @include mobile
                padding: 40px
            h2
                @include inriaSerif()
                font-size: 32px
                font-weight: 400
                color: #772439
                line-height: normal
                margin: 0 0 15px 0
                @include mobile
                    font-size: 20px
            #lawyer-academic-list
                margin: 0
                padding: 0 0 0 25px
                li
                    font-size: 16px
                    margin-bottom: 6px
                    @include mobile
                        font-size: 12px

.lawyer-experience
    padding: 50px 0
    background: url('../assets/lawyer-professional-experience-bg.jpg')
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    .lawyer-experience-wrapper
        max-width: 679px
        margin: 0 auto
        @include mobile
            max-width: 244px
        h2
            @include inriaSerif()
            font-size: 32px
            font-weight: 400
            color: #772439
            line-height: normal
            margin: 0 0 15px 0
            @include mobile
                font-size: 20px
        #lawyer-experience-list
            margin: 0
            padding: 0 0 0 25px
            li
                font-size: 16px
                margin-bottom: 6px
                @include mobile
                    font-size: 12px

.lawyer-languages
    padding: 40px 0
    background: url('../assets/lawyer-languages-bg.jpg')
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    background-attachment: fixed
    .lawyer-languages-grid
        display: flex
        justify-content: left
        align-content: center
        max-width: 679px
        margin: 0 auto
        @include mobile
            display: block
            max-width: 244px
        h2
            @include inriaSerif()
            font-size: 32px
            font-weight: 400
            color: #FFF
            line-height: normal
            width: 170px
            margin: 0
            @include mobile
                font-size: 20px
                margin-bottom: 10px
        #lawyer-languages-list
            margin: 0
            padding: 0 0 0 20px
            li
                font-size: 16px
                color: #FFF
                margin-bottom: 6px

.laywer-additional
    padding: 60px 0
    background: url('../assets/laywer-additional-studies-bg.jpg')
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    .laywer-additional-wrapper
        max-width: 679px
        margin: 0 auto
        @include mobile
            max-width: 244px
        h2
            @include inriaSerif()
            font-size: 32px
            font-weight: 400
            color: #FFF
            line-height: normal
            margin: 0 0 15px 0
            @include mobile
                font-size: 20px
        #laywer-additional-list
            margin: 0
            padding: 0 0 0 25px
            @include mobile
                padding: 0 0 0 20px
            li
                font-size: 16px
                margin-bottom: 6px
                color: #FFF
                @include mobile
                    font-size: 12px

.admin-hero
    .admin-hero-grid
        display: grid
        grid-template-columns: 1fr 1fr
        min-height: 350px
        margin-top: 60px
        @include mobile
            grid-template-columns: 1fr
            margin-top: 60px
        .admin-hero-left
            display: flex
            align-items: flex-end
            @include mobile
                padding: 20px 20px 0 20px
                img
                    width: 100%
                    height: auto
        .admin-hero-right
            padding: 40px 0 0 40px
            @include mobile
                padding: 40px
            h2
                @include inriaSerif()
                font-size: 32px
                font-weight: 400
                color: #772439
                line-height: normal
                margin: 0 0 15px 0
                @include mobile
                    font-size: 20px
            ul
                margin: 0
                padding: 0 0 0 50px
                li
                    font-size: 16px
                    margin-bottom: 6px
                    @include mobile
                        font-size: 12px

.admin-functions
    padding: 50px 0
    background: url('../assets/admin-functions-bg.jpg')
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    .admin-functions-wrapper
        max-width: 679px
        margin: 0 auto
        @include mobile
            max-width: 244px
        h2
            @include inriaSerif()
            font-size: 32px
            font-weight: 400
            color: #772439
            line-height: normal
            margin: 0 0 15px 0
            @include mobile
                font-size: 20px
        ul
            margin: 0
            padding: 0 0 0 25px
            li
                font-size: 16px
                margin-bottom: 6px
                @include mobile
                    font-size: 12px

.admin-languages
    background: url('../assets/admin-languages-bg.jpg')
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    background-attachment: fixed
    height: 140px

.admin-additional-studies
    padding: 60px 0
    background: url('../assets/admin-additional-studies-bg.jpg')
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    .admin-additional-studies-wrapper
        max-width: 679px
        margin: 0 auto
        @include mobile
            max-width: 244px
        h2
            @include inriaSerif()
            font-size: 32px
            font-weight: 400
            color: #FFF
            line-height: normal
            margin: 0 0 15px 0
            @include mobile
                font-size: 20px
        ul
            margin: 0
            padding: 0 0 0 25px
            @include mobile
                padding: 0 0 0 20px
            li
                font-size: 16px
                margin-bottom: 6px
                color: #FFF
                @include mobile
                    font-size: 12px